.menu-container {
  justify-content: left;
  display: flex;
}

.menu {
    display: flex;
    list-style: none; 
    padding: 0; 
    margin: 0;
  }
  
  .menu ul {
    padding: 0;
    margin: 10px;
    justify-content: center;
  }

  .menu li {
    margin-right: 20px;
  }
  
  .menu li a {
    text-decoration: none;
    color: #acacac;
    font-weight: bold;
    font-style: italic;
  }
  